In [ ]:
import requests

url = "https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/zakladni-dotazy/staty.json"
r = requests.get(url) # <Response [200]>
open("staty.json", "wb").write(r.content)

In [ ]:
import pandas

staty = pandas.read_json("staty.json")

In [ ]:
staty

jaky sloupec ma index, pomoci toho kodu dole a ted uz to muzu pouzivat

In [ ]:
staty = staty.set_index('name')
staty.index

In [ ]:
# ted uz je muzu pouzivat a hledat  podle toho
staty.loc['Czech Republic', 'area']

In [ ]:
# vyber vice radku
staty.loc['Czech Republic':'Dominican Republic']

In [ ]:
staty.loc['Dominican Republic':]

In [ ]:
staty.loc[['Dominican Republic', 'Yemen'], ['population', 'area']]

In [ ]:
staty.loc[['Czech Republic', 'Andorra']].iloc[:,:3]

# nebo
# staty.iloc[1:5]

In [ ]:
# series_name = df['nazev_sloupce'], takze pouziti agregacni fce, vytvorim si promennou a muzu ji dal pouzivat

populace = staty['population']

populace.max()
# populace.sum()

In [ ]:
# vyber nejvyssi hodnotu sloupce
staty['area'].max()

In [ ]:
# fce describe, rekne vsechny statisticky info o tom konkretnim sloupci
# populace.descibe()

# o cele tabulce
staty.describe()

In [105]:
# podminky!! 
# staty co maji min nez 1000 obyvatel, takto to vypise pravndivostni hodnoty

# staty['population'] < 1000

pidistaty = staty[staty['population'] < 1000]
pidistaty[['population', 'area']]

                                              population     area
name
Bouvet Island                                          0    49.00
United States Minor Outlying Islands                 300      NaN
Cocos (Keeling) Islands                              550    14.00
French Southern Territories                          140  7747.00
Heard Island and McDonald Islands                      0   412.00
Holy See                                             451     0.44
Pitcairn                                              56    47.00
South Georgia and the South Sandwich Islands          30      NaN

In [ ]:
# query:

staty.query('population < 1000')

In [ ]:
# spojeni podminek, pouzivame &, | - toto je OR, todle svislitko, nefunguje AND, OR, muzu to napsat i na jeden radek

staty[
    (staty['population'] > 2000000)
    &
    (staty['region'] == 'Europe')
]

In [ ]:
# takhle to funguje v tom query
staty.query('population > 2000000 and region == "Europe"')

In [ ]:
# df['sloupec'].isin(['hodnota1', 'hodnota2'])
staty[(staty['population'] > 10_000_000) | (staty['area'] > 3_000_000)]

In [ ]:
# pouziti tildy, vlnovky otaci vyznam ~, takze pokud napisu neco, ze chci true tak to udela false u tech podminek
# takze to ukazuje, co tam neni
# ~something.isin(somewhere)

staty[~staty['subregion'].isin(['Western Europe', 'Eastern Europe'])]

In [ ]:
import pandas

jmena = pandas.read_csv("jmena.csv")

In [106]:
jmena

           četnost  věk pohlaví        svátek      původ
jméno
Jiří        296090   49       m          24.4      řecký
Jan         293938   40       m   24.6. a 6.7  hebrejský
Petr        272135   42       m  22.2. a 29.6      řecký
Jana        264944   50       ž          24.5  hebrejský
Marie       260526   65       ž          12.9  hebrejský
...            ...  ...     ...           ...        ...
Jindřich     26230   51       m          15.7    německý
Vlastimil    26014   54       m          17.3  slovanský
Iva          26003   46       ž          1.12  slovanský
Miloš        25509   53       m          25.1  slovanský
Zdenka       25416   68       ž          23.6  slovanský

[100 rows x 5 columns]

In [ ]:
#  Jako index zvol sloupec s názvem 'jméno'.
jmena = jmena.set_index('jméno')
jmena.index

In [ ]:
# Vypište na konzoli informace o jménu Jiří.
jmena.loc['Jiří']

In [ ]:
# Vypište na konzoli informace pro jména Martin, Zuzana a Josef.
jmena.loc[['Martin','Zuzana','Josef']]

In [ ]:
# Vypište na konzoli informace o všech nejčastějších jménech až po Martina.
jmena.loc[:'Martin']

# jmena.sort_values(by='jméno').loc[:'Martin']

In [ ]:
# Vypište pouze průměrné věky osob mající jména mezi Martinem a Terezou.
jmena.loc['Martin':'Tereza', 'věk']

In [ ]:
# Vypište průměrný věk a původ pro všechna jména od Libora dolů.
jmena.loc['Libor':, ['věk', 'původ']]

In [ ]:
# Vypište sloupečky mezi věkem a původem pro všechna jména v tabulce.
# vybiratm df.loc['radek, 'sloupec']
# df.loc["radek", "sloupec"]
# df.loc["radek1":"radek2", "soupec1":"sloupec"] / bez vnitrnich zavorek je to rozsah
# df.loc[["radek1","radek2"], ["soupec1","sloupec"]] / seznam, mam tam ty vnitrni zavorky

jmena.loc[:,'věk':'původ']

In [ ]:
# Vypiš všechny řádky se jmény, jejichž nositelé mají průměrný věk vyšší než 60.
# vek = jmena['věk']
# prom = jmena[jmena['věk'] > 60]
# prom[['jméno']]

jmena.query('věk > 60')

In [ ]:
# Vypiš pouze jména z těch řádků, kde četnost je mezi 80 000 a 100 000.
# jmena.query('četnost > 80000 and četnost < 100000')

jmena[(jmena['četnost'] > 80000) & (jmena['četnost'] < 100000)]

In [108]:
# Vypiš jména a četnost pro jména se slovanským nebo hebrejským původem. Kolik takových jmen je?
vybranaJmena = jmena[jmena['původ'].isin(['slovanský','hebrejský'])]

# vybranaJmena['jméno', 'četnost']

print(f"Jmen je {vybranaJmena.shape[0]}.")

Jmen je 52.

In [114]:
# Vypiš všechna jména, která mají svátek první 3 dny v prosinci.
prosinecJmena = jmena[jmena['svátek'].isin(['1.12.','2.12','3.12'])]



print(prosinecJmena[['jméno','svátek']].sort_values('svátek'))

KeyError: "['jméno'] not in index"

In [ ]:
# vytvareni dataframu pres pandas, lze tvorit takto z listu nebo se da i ze slovniku a tam nemusim psat nazvy tech sloupcu
znamky = [
    ['Petr', 2],
    ['Roman', 1],
    ['Jitka', 3],
    ['Zuzana', 5],
    ['Ondřej', 2],
    ['Julie', 2],
    ['Karel', 4],
    ['Anna', 1],
    ['Eva', 1]
]

znamky = pandas.DataFrame(znamky, columns=['student','znamka'])
znamky

In [ ]:
nakupy = [
    {"person": "Petr", "item": "Prací prášek", "value": 399},
    {"person": "Ondra", "item": "Savo", "value": 80},
    {"person": "Petr", "item": "Toaletní papír", "value": 65},
    {"person": "Libor", "item": "Pivo", "value": 124},
    {"person": "Petr", "item": "Pytel na odpadky", "value": 75},
    {"person": "Míša", "item": "Utěrky na nádobí", "value": 130},
    {"person": "Ondra", "item": "Toaletní papír", "value": 120},
    {"person": "Míša", "item": "Pečící papír", "value": 30},
    {"person": "Zuzka", "item": "Savo", "value": 80},
    {"person": "Pavla", "item": "Máslo", "value": 50},
    {"person": "Ondra", "item": "Káva", "value": 300}
]

nakupy = pandas.DataFrame(nakupy)
nakupy