In [ ]:
import pandas

temperature = pandas.read_csv('temperature.csv')

temperature.head()

In [31]:
# 1. Dotaz na měření, která byla provedena v Praze. Je na datech něco zvláštního? Napadá tě, čím to může být? Zde je nápověda.

# temperature = temperature.set_index('City')
# temperature.index

# temperature.loc['Prague']
# 2. Dotaz na měření, ve kterých je teplota (sloupec AvgTemperature) vyšší než 80 stupňů.

# temperature_over_80 = temperature[temperature['AvgTemperature'] > 80]
# temperature_over_80

# 3. Dotaz na měření, ve kterých je teplota vyšší než 60 stupňů a současně bylo měření provedeno v regionu (sloupec Region) Evropa (Europe).
# temperature1 = temperature[temperature(['AvgTemperature'] > 60) & (temperature['Region'] == 'Europe')]
# temperature1

# temperature.query('AvgTemperature' > 60 and Region == "Europe")

# 4. Dotaz na extrémní hodnoty, tj. měření, ve kterých je teplota vyšší než 80 stupňů nebo menší než - 20 stupňů.
# temperature2 = temperature[temperature(['AvgTemperature'] > 60) | (temperature['AvgTemperature'] < -20)]
# temperature2

temperature.query('AvgTemperature > 80 or AvgTemperature < -20')

# temperature.query('AvgTemperature > 80')

                        Region Country  Day  AvgTemperature
City
Cotonou                 Africa   Benin    1            81.7
Cotonou                 Africa   Benin    2            81.8
Cotonou                 Africa   Benin    3            83.6
Cotonou                 Africa   Benin    4            83.4
Cotonou                 Africa   Benin    5            80.3
...                        ...     ...  ...             ...
Brownsville      North America      US    2            80.8
Brownsville      North America      US    3            81.1
Brownsville      North America      US    6            80.5
Corpus Christi   North America      US    3            80.2
Dallas Ft Worth  North America      US    5            80.1

[772 rows x 4 columns]